In [13]:
import os
import numpy as np
import pandas as pd
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import KNNBasic
from surprise import accuracy
import random
import pickle

#Para garantizar reproducibilidad en resultados
seed = 10
random.seed(seed)
np.random.seed(seed)

In [14]:
file_path = './data/preprocessed_user_item_rating.csv'

In [15]:
if not (os.path.exists(file_path)):
  raise ValueError('El archivo preprocessed_user_item_rating.csv no fue encontrado en el path')
else:
  print("El archivo ha sido cargado")

El archivo ha sido cargado

In [16]:
ratings=pd.read_csv(file_path, sep = ',', header=0, names = [ 'userid', 'artist-name', 'rating' ] )
ratings = ratings.loc[:,['userid', 'artist-name','rating']]
ratings

             userid        artist-name  rating
0       user_001000              Wilco     5.0
1       user_001000          Radiohead     4.9
2       user_001000  Animal Collective     4.7
3       user_001000          Girl Talk     4.6
4       user_001000         Aesop Rock     4.2
...             ...                ...     ...
896795  user_000001        Steve Reich     0.8
896796  user_000001               Enya     0.8
896797  user_000001      Nitin Sawhney     0.8
896798  user_000001        Reel People     0.8
896799  user_000001      Richie Hawtin     0.8

[38872 rows x 3 columns]

In [17]:
ratings.rating.describe()

count    38872.000000
mean         1.626001
std          0.994192
min          0.800000
25%          0.900000
50%          1.200000
75%          1.900000
max          5.000000
Name: rating, dtype: float64

In [18]:
# Creacion sistema de recomendacion

In [19]:
reader = Reader( rating_scale = ( 0, 5 ) )
#Se crea el dataset a partir del dataframe
surprise_dataset = Dataset.load_from_df( ratings[ [ 'userid', 'artist-name', 'rating' ] ], reader )

In [20]:
trainset, testset=  train_test_split(surprise_dataset, test_size=.2)

### Modelo basado en distancias coseno

In [21]:
sim_options = {'name': 'cosine',
               'user_based': True  # calcule similitud item-item
               }
algo = KNNBasic(k=30, min_k=5, sim_options=sim_options)

In [22]:
predictions = algo.fit(trainset).test(testset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [23]:
pickle.dump( predictions, open( "./Data/predictions_uu_cosine.p", "wb" ) )

### Modelo basado en índice de Jaccard

### Modelo basado en correlación de Pearson

In [24]:
sim_options = {'name': 'pearson_baseline',
               'user_based': True,
               'shrinkage': 0  # no shrinkage
               }
algo = KNNBasic(sim_options=sim_options)

In [25]:
predictions = algo.fit(trainset).test(testset)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [26]:
pickle.dump( predictions, open( "./Data/predictions_uu_pearson.p", "wb" ) )

### Recomendaciones

In [27]:
pickle_predictions = pickle.load( open( "./Data/predictions_uu_cosine.p", "rb" ) )

In [28]:
#Predicciones para usuario user_001000
user_predictions=list(filter(lambda x: x[0]=='user_001000' and x[4]['was_impossible']==False,predictions))

In [29]:
#Ordenamos de mayor a menor estimación de relevancia
user_predictions.sort(key=lambda x : x.est, reverse=True)

In [30]:
#tomamos las 10 primeras predicciones
user_predictions=user_predictions[0:10]

In [31]:
#Se convierte a dataframe
labels = ['artist', 'estimation']
df_predictions = pd.DataFrame.from_records(list(map(lambda x: (x.iid, x.est) , user_predictions)), columns=labels)

### Recomendaciones usuario 001000

In [32]:
df_predictions

                  artist  estimation
0      Animal Collective    2.515744
1                 Common    2.104657
2  Thunderbirds Are Now!    1.900000
3            Iron & Wine    1.854034
4         Regina Spektor    1.626263
5            Arcade Fire    1.622239
6             Aesop Rock    1.589312
7       Devendra Banhart    1.507681
8            Fleet Foxes    1.413557
9          Final Fantasy    1.272010

In [33]:
accuracy.rmse( user_predictions, verbose = True )

RMSE: 1.3426

1.3426430585063103