In [1]:
import os
import numpy as np
import pandas as pd
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import KNNBasic
from surprise import accuracy
import random

#Para garantizar reproducibilidad en resultados
seed = 10
random.seed(seed)
np.random.seed(seed)

In [5]:
if not (os.path.exists('./Data/preprocessed_user_item_rating.csv')):
  raise ValueError('El archivo preprocessed_user_item_rating.csv no fue encontrado en el path')
else:
  print("Los archivos han sido cargados")

Los archivos han sido cargados

In [9]:
ratings=pd.read_csv('./Data/preprocessed_user_item_rating.csv', sep = ',', header=0, names = [ '', 'userid', 'artist-name', 'count', 'max', 'rating' ] )
ratings

                     userid        artist-name  count  max     rating
0            0  user_001000              Wilco    455  455  10.000000
1            1  user_001000          Radiohead    444  455   9.758242
2            2  user_001000  Animal Collective    432  455   9.494505
3            3  user_001000          Girl Talk    417  455   9.164835
4            4  user_001000         Aesop Rock    383  455   8.417582
...        ...          ...                ...    ...  ...        ...
894494  894494  user_000001              曽我部恵一      1  855   0.011696
894495  894495  user_000001              畠山美由紀      1  855   0.011696
894496  894496  user_000001               細野晴臣      1  855   0.011696
894497  894497  user_000001               青柳拓次      1  855   0.011696
894498  894498  user_000001              首里フジコ      1  855   0.011696

[894499 rows x 6 columns]